@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lora:ital,wght@0,400..700;1,400..700&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

#bar {
  display: none;
}

header {
  width: 100%;
  height: 96px;
  background-color: #b96a2d;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
}
header #abc {
  transform: translate(-60px, -30px);
}
header #tbc {
  height: 70px;
  width: 70px;
  margin-top: 15px;
  margin-top: 43px;
  margin-left: 70px;
}
header #tbc:hover {
  transition: 0.3s;
  transform: scale(1.2);
}
header #hdiv1 {
  display: flex;
}
header #icon {
  height: 70px;
  margin-top: 25px;
  margin-left: 25px;
}
header h1 {
  margin-top: 15px;
  margin-left: 15px;
}
header #hdiv2 {
  display: flex;
  justify-content: center;
}
header .nav1 {
  display: flex;
  transition: 0.3s;
  margin-left: 70px;
  text-decoration: none;
  color: #472D1C;
  margin-top: 30px;
  font-weight: 400;
  font-size: 18px;
}
header .nav1:hover {
  transform: scale(1.2);
}
header #login {
  margin-top: 30px;
  margin-right: 25px;
  transition: 0.3s;
}
header #login:hover {
  transform: scale(1.2);
}
header #login #login1 {
  color: rgb(34, 34, 34) !important;
}
header #contact {
  margin-right: 200px;
}

.divmain1 {
  display: flex;
  gap: 40px;
  margin-right: 40px;
}
.divmain1 .search {
  box-sizing: border-box;
  height: 420px;
  margin-top: 100px;
  margin-left: 50px;
  width: 400px;
  padding: 20px;
  background: #fff;
  border-radius: 12px;
  box-shadow: 10 5 10px rgba(0, 0, 0, 0.05);
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.divmain1 .search .search-input {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 10px;
  font-size: 14px;
  width: 100%;
}
.divmain1 .search .input {
  display: flex;
  flex-direction: column;
  gap: 4px;
}
.divmain1 .search .input span {
  font-size: 13px;
  color: #555;
}
.divmain1 .search .input input,
.divmain1 .search .input select {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 10px;
  font-size: 14px;
}
.divmain1 .search .cost .chawera {
  display: flex;
  gap: 10px;
}
.divmain1 .search .cost .chawera input {
  flex: 1;
  text-align: center;
  width: 20px;
}
.divmain1 .search #search {
  padding: 12px;
  background-color: #6a4329;
  color: white;
  border-radius: 10px;
  font-weight: bold;
  font-size: 15px;
  transition: 0.2s;
}
.divmain1 .search #search:hover {
  background-color: #8b4312;
}
.divmain1 .search #clear {
  text-align: center;
  font-size: 13px;
  color: #888;
}
.divmain1 .search #clear:hover {
  text-decoration: underline;
}
.divmain1 #divtur {
  flex-direction: column;
  margin-top: 70px;
  display: flex;
  margin-right: 40px;
  margin-left: 100px;
}
.divmain1 #divtur #tour1 {
  display: flex;
  height: 250px;
  width: 41.7vw;
  background-color: #472D1C;
  border-radius: 10px;
  margin-top: 30px;
  position: relative;
  transition: 0.3s;
}
.divmain1 #divtur #tour1 p {
  color: white;
  position: absolute;
  bottom: 2px;
  right: 125px;
  font-family: "Inter", sans-serif;
  font-weight: 500;
}
.divmain1 #divtur #tour1 input {
  position: absolute;
  bottom: 15px;
  right: 15px;
  background-color: #b96a2d;
  border-radius: 10px;
  height: 50px;
  width: 100px;
  font-size: 25px;
  color: white;
  font-family: "Inter", sans-serif;
  font-weight: 500;
  display: inline-block;
  transition: 0.3s;
}
.divmain1 #divtur #tour1 input:hover {
  scale: 1.1;
}
.divmain1 #divtur #tour1:hover {
  scale: 1.02;
}
.divmain1 #divtur #tour1 #tphoto1 {
  background-color: #ccc;
  height: 220px;
  width: 15.7vw;
  border-radius: 10px;
  position: absolute;
  bottom: 15px;
  left: 20px;
  background-image: url(./../../images/riwa.png);
  background-size: cover;
  transition: 0.3s;
}
.divmain1 #divtur #tour1 #tphoto1:hover {
  scale: 1.1;
}
.divmain1 #divtur #tour1 #tphoto1 h1 {
  font-size: 20px;
  color: #fcfcfc;
  position: absolute;
  bottom: 10px;
  left: 10px;
  display: flex;
}
.divmain1 #divtur #tour2 {
  display: flex;
  height: 250px;
  width: 41.7vw;
  background-color: #472D1C;
  border-radius: 10px;
  margin-top: 30px;
  position: relative;
  transition: 0.3s;
}
.divmain1 #divtur #tour2 p {
  color: white;
  position: absolute;
  bottom: 2px;
  right: 125px;
  font-family: "Inter", sans-serif;
  font-weight: 500;
}
.divmain1 #divtur #tour2 input {
  position: absolute;
  bottom: 15px;
  right: 15px;
  background-color: #b96a2d;
  border-radius: 10px;
  height: 50px;
  width: 100px;
  font-size: 25px;
  color: white;
  font-family: "Inter", sans-serif;
  font-weight: 500;
  display: inline-block;
  transition: 0.3s;
}
.divmain1 #divtur #tour2 input:hover {
  scale: 1.1;
}
.divmain1 #divtur #tour2:hover {
  scale: 1.02;
}
.divmain1 #divtur #tour2 #tphoto1 {
  background-color: #ccc;
  height: 220px;
  width: 15.7vw;
  border-radius: 10px;
  position: absolute;
  bottom: 15px;
  left: 20px;
  background-image: url(./../../images/gareji2.png);
  background-size: cover;
  transition: 0.3s;
}
.divmain1 #divtur #tour2 #tphoto1:hover {
  scale: 1.1;
}
.divmain1 #divtur #tour2 #tphoto1 h1 {
  font-size: 20px;
  color: #fcfcfc;
  position: absolute;
  bottom: 10px;
  left: 10px;
  display: flex;
}
.divmain1 #divtur #tour3 {
  height: 250px;
  width: 41.7vw;
  background-color: #472D1C;
  border-radius: 10px;
  margin-top: 30px;
  position: relative;
  transition: 0.3s;
}
.divmain1 #divtur #tour3 p {
  color: white;
  position: absolute;
  bottom: 2px;
  right: 125px;
  font-family: "Inter", sans-serif;
  font-weight: 500;
}
.divmain1 #divtur #tour3 input {
  position: absolute;
  bottom: 15px;
  right: 15px;
  background-color: #b96a2d;
  border-radius: 10px;
  height: 50px;
  width: 100px;
  font-size: 25px;
  color: white;
  font-family: "Inter", sans-serif;
  font-weight: 500;
  display: inline-block;
  transition: 0.3s;
}
.divmain1 #divtur #tour3 input:hover {
  scale: 1.1;
}
.divmain1 #divtur #tour3:hover {
  scale: 1.02;
}
.divmain1 #divtur #tour3 #tphoto1 {
  background-color: #ccc;
  height: 220px;
  width: 15.7vw;
  border-radius: 10px;
  position: absolute;
  bottom: 15px;
  left: 20px;
  background-image: url(./../../images/mowameta.jpg);
  background-size: cover;
  transition: 0.3s;
}
.divmain1 #divtur #tour3 #tphoto1:hover {
  scale: 1.1;
}
.divmain1 #divtur #tour3 #tphoto1 h1 {
  font-size: 25px;
  color: #fcfcfc;
  position: absolute;
  bottom: 10px;
  left: 10px;
  display: flex;
}
.divmain1 #divtur #tour4 {
  height: 250px;
  width: 41.7vw;
  background-color: #472D1C;
  border-radius: 10px;
  margin-top: 30px;
  position: relative;
  transition: 0.3s;
}
.divmain1 #divtur #tour4 p {
  color: white;
  position: absolute;
  bottom: 2px;
  right: 125px;
  font-family: "Inter", sans-serif;
  font-weight: 500;
}
.divmain1 #divtur #tour4 input {
  position: absolute;
  bottom: 15px;
  right: 15px;
  background-color: #b96a2d;
  border-radius: 10px;
  height: 50px;
  width: 100px;
  font-size: 25px;
  color: white;
  font-family: "Inter", sans-serif;
  font-weight: 500;
  display: inline-block;
  transition: 0.3s;
}
.divmain1 #divtur #tour4 input:hover {
  scale: 1.1;
}
.divmain1 #divtur #tour4:hover {
  scale: 1.02;
}
.divmain1 #divtur #tour4 #tphoto1 {
  background-color: #ccc;
  height: 220px;
  width: 15.7vw;
  border-radius: 10px;
  position: absolute;
  bottom: 15px;
  left: 20px;
  background-image: url(./../../images/martvili.jpg);
  background-size: cover;
  transition: 0.3s;
}
.divmain1 #divtur #tour4 #tphoto1:hover {
  scale: 1.1;
}
.divmain1 #divtur #tour4 #tphoto1 h1 {
  font-size: 25px;
  color: #fcfcfc;
  position: absolute;
  bottom: 10px;
  left: 10px;
  display: flex;
}
.divmain1 #divtur #tour5 {
  height: 250px;
  width: 41.7vw;
  background-color: #472D1C;
  border-radius: 10px;
  margin-top: 30px;
  position: relative;
  transition: 0.3s;
}
.divmain1 #divtur #tour5 p {
  color: white;
  position: absolute;
  bottom: 2px;
  right: 125px;
  font-family: "Inter", sans-serif;
  font-weight: 500;
}
.divmain1 #divtur #tour5 input {
  position: absolute;
  bottom: 15px;
  right: 15px;
  background-color: #b96a2d;
  border-radius: 10px;
  height: 50px;
  width: 100px;
  font-size: 25px;
  color: white;
  font-family: "Inter", sans-serif;
  font-weight: 500;
  display: inline-block;
  transition: 0.3s;
}
.divmain1 #divtur #tour5 input:hover {
  scale: 1.1;
}
.divmain1 #divtur #tour5:hover {
  scale: 1.02;
}
.divmain1 #divtur #tour5 #tphoto1 {
  background-color: #ccc;
  height: 220px;
  width: 15.7vw;
  border-radius: 10px;
  position: absolute;
  bottom: 15px;
  left: 20px;
  background-image: url(./../../images/vardzia.jpg);
  background-size: cover;
  transition: 0.3s;
}
.divmain1 #divtur #tour5 #tphoto1:hover {
  scale: 1.1;
}
.divmain1 #divtur #tour5 #tphoto1 h1 {
  font-size: 25px;
  color: #fcfcfc;
  position: absolute;
  bottom: 10px;
  left: 10px;
  display: flex;
}
.divmain1 #divtur #tour6 {
  height: 250px;
  width: 41.7vw;
  background-color: #472D1C;
  border-radius: 10px;
  margin-top: 30px;
  position: relative;
  transition: 0.3s;
}
.divmain1 #divtur #tour6 p {
  color: white;
  position: absolute;
  bottom: 2px;
  right: 125px;
  font-family: "Inter", sans-serif;
  font-weight: 500;
}
.divmain1 #divtur #tour6 input {
  position: absolute;
  bottom: 15px;
  right: 15px;
  background-color: #b96a2d;
  border-radius: 10px;
  height: 50px;
  width: 100px;
  font-size: 25px;
  color: white;
  font-family: "Inter", sans-serif;
  font-weight: 500;
  display: inline-block;
  transition: 0.3s;
}
.divmain1 #divtur #tour6 input:hover {
  scale: 1.1;
}
.divmain1 #divtur #tour6:hover {
  scale: 1.02;
}
.divmain1 #divtur #tour6 #tphoto1 {
  background-color: #ccc;
  height: 220px;
  width: 15.7vw;
  border-radius: 10px;
  position: absolute;
  bottom: 15px;
  left: 20px;
  background-image: url(./../../images/jvrismonasteri2.png);
  background-size: cover;
  transition: 0.3s;
}
.divmain1 #divtur #tour6 #tphoto1:hover {
  scale: 1.1;
}
.divmain1 #divtur #tour6 #tphoto1 h1 {
  display: flex;
  font-size: 25px;
  color: #fcfcfc;
  position: absolute;
  bottom: 10px;
  left: 10px;
}

footer {
  width: 100%;
  height: 150px;
  background-color: #6a4329;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
}
footer #partner {
  transform: translate(0, 20px);
  margin-left: 20px;
  font-size: 30px;
}
footer #tbcf {
  display: flex;
}
footer #tbcf #icon2 {
  display: flex;
  transform: translate(400px);
  font-size: 36px;
}
footer #tbcf img {
  display: flex;
  margin-top: 20px;
  margin-left: 40px;
  height: 60px;
}
footer #tbcf img:hover {
  transition: 0.3s;
  transform: scale(1.2);
}
footer #copyright {
  display: flex;
  font-size: 15px;
  margin-top: 15px;
  margin-right: 15px;
}

#comment {
  display: flex;
  position: fixed;
  bottom: 30px;
  right: 30px;
  width: 70px;
  height: 70px;
  background-color: #b96a2d;
  box-sizing: border-box;
  border-radius: 30px;
  transition-duration: 0.3s;
  z-index: 3;
}
#comment:hover {
  scale: 1.2;
}
#comment #icon {
  transform: scaleX(-1);
  font-size: 50px;
  margin: auto;
  margin-top: auto;
}

@media screen and (min-device-width: 320px) and (max-device-width: 767px) {
  @import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lora:ital,wght@0,400..700;1,400..700&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap");
  header {
    width: 100%;
    height: 96px;
    background-color: #b96a2d;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
  }
  header #abc {
    transform: translate(-60px, -30px);
  }
  header #tbc {
    height: 70px;
    width: 70px;
    margin-top: 15px;
    margin-top: 43px;
    margin-left: 70px;
  }
  header #tbc:hover {
    transition: 0.3s;
    transform: scale(1.2);
  }
  header #hdiv1 {
    display: flex;
    width: 100px;
  }
  header #icon {
    height: 70px;
    margin-top: 25px;
    margin-left: 25px;
  }
  header h1 {
    margin-top: 15px;
    margin-left: 15px;
  }
  header #hdiv2 {
    display: flex;
    justify-content: center;
  }
  header .nav1 {
    display: flex;
    transition: 0.3s;
    margin-left: 70px;
    text-decoration: none;
    color: #472D1C;
    margin-top: 30px;
    font-weight: 400;
    font-size: 18px;
  }
  header .nav1:hover {
    transform: scale(1.2);
  }
  header #login {
    margin-top: 30px;
    margin-right: 25px;
    transition: 0.3s;
  }
  header #login:hover {
    transform: scale(1.2);
  }
  header #login #login1 {
    color: rgb(34, 34, 34) !important;
  }
  header #contact {
    margin-right: 50px;
  }
  .divmain1 {
    display: flex;
    gap: 40px;
    margin-right: 40px;
    flex-wrap: wrap;
    justify-content: center;
  }
  .divmain1 .search {
    box-sizing: border-box;
    height: 420px;
    margin-top: 100px;
    margin-left: 50px;
    width: 400px;
    padding: 20px;
    background: #fff;
    border-radius: 12px;
    box-shadow: 10 5 10px rgba(0, 0, 0, 0.05);
    display: flex;
    flex-direction: column;
    gap: 16px;
  }
  .divmain1 .search .search-input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 10px;
    font-size: 14px;
    width: 100%;
  }
  .divmain1 .search .input {
    display: flex;
    flex-direction: column;
    gap: 4px;
  }
  .divmain1 .search .input span {
    font-size: 13px;
    color: #555;
  }
  .divmain1 .search .input input,
  .divmain1 .search .input select {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 10px;
    font-size: 14px;
  }
  .divmain1 .search .cost .chawera {
    display: flex;
    gap: 10px;
  }
  .divmain1 .search .cost .chawera input {
    flex: 1;
    text-align: center;
    width: 20px;
  }
  .divmain1 .search #search {
    padding: 12px;
    background-color: #6a4329;
    color: white;
    border-radius: 10px;
    font-weight: bold;
    font-size: 15px;
    transition: 0.2s;
  }
  .divmain1 .search #search:hover {
    background-color: #8b4312;
  }
  .divmain1 .search #clear {
    text-align: center;
    font-size: 13px;
    color: #888;
  }
  .divmain1 .search #clear:hover {
    text-decoration: underline;
  }
  .divmain1 #divtur {
    flex-direction: column;
    margin-top: 20px;
    display: flex;
    margin-right: 40px;
    margin-left: 100px;
  }
  .divmain1 #divtur #tour1 {
    flex-wrap: wrap;
    display: flex;
    height: 250px;
    width: 41.7vw;
    background-color: #472D1C;
    border-radius: 10px;
    margin-top: 30px;
    position: relative;
    transition: 0.3s;
  }
  .divmain1 #divtur #tour1 p {
    color: white;
    position: absolute;
    bottom: 60px;
    right: 25px;
    font-family: "Inter", sans-serif;
    font-weight: 500;
    font-size: 13px;
  }
  .divmain1 #divtur #tour1 input {
    position: absolute;
    bottom: 15px;
    right: 15px;
    background-color: #b96a2d;
    border-radius: 10px;
    height: 50px;
    width: 100px;
    font-size: 25px;
    color: white;
    font-family: "Inter", sans-serif;
    font-weight: 500;
    display: inline-block;
    transition: 0.3s;
  }
  .divmain1 #divtur #tour1 input:hover {
    scale: 1.1;
  }
  .divmain1 #divtur #tour1:hover {
    scale: 1.02;
  }
  .divmain1 #divtur #tour1 #tphoto1 {
    background-color: #ccc;
    height: 120px;
    width: 30vw;
    border-radius: 10px;
    position: absolute;
    top: 15px;
    left: 20px;
    background-image: url(./../../images/riwa.png);
    background-size: cover;
    transition: 0.3s;
  }
  .divmain1 #divtur #tour1 #tphoto1:hover {
    scale: 1.1;
  }
  .divmain1 #divtur #tour1 #tphoto1 h1 {
    font-size: 13px;
    color: #fcfcfc;
    position: absolute;
    bottom: 10px;
    left: 10px;
    display: flex;
  }
  .divmain1 #divtur #tour2 {
    flex-wrap: wrap;
    display: flex;
    height: 250px;
    width: 41.7vw;
    background-color: #472D1C;
    border-radius: 10px;
    margin-top: 30px;
    position: relative;
    transition: 0.3s;
  }
  .divmain1 #divtur #tour2 p {
    color: white;
    position: absolute;
    bottom: 60px;
    right: 25px;
    font-family: "Inter", sans-serif;
    font-weight: 500;
    font-size: 13px;
  }
  .divmain1 #divtur #tour2 input {
    position: absolute;
    bottom: 15px;
    right: 15px;
    background-color: #b96a2d;
    border-radius: 10px;
    height: 50px;
    width: 100px;
    font-size: 25px;
    color: white;
    font-family: "Inter", sans-serif;
    font-weight: 500;
    display: inline-block;
    transition: 0.3s;
  }
  .divmain1 #divtur #tour2 input:hover {
    scale: 1.1;
  }
  .divmain1 #divtur #tour2:hover {
    scale: 1.02;
  }
  .divmain1 #divtur #tour2 #tphoto1 {
    background-color: #ccc;
    height: 120px;
    width: 30vw;
    border-radius: 10px;
    position: absolute;
    top: 15px;
    left: 20px;
    background-image: url(./../../images/gareji2.png);
    background-size: cover;
    transition: 0.3s;
  }
  .divmain1 #divtur #tour2 #tphoto1:hover {
    scale: 1.1;
  }
  .divmain1 #divtur #tour2 #tphoto1 h1 {
    font-size: 13px;
    color: #fcfcfc;
    position: absolute;
    bottom: 10px;
    left: 10px;
    display: flex;
  }
  .divmain1 #divtur #tour3 {
    flex-wrap: wrap;
    height: 250px;
    width: 41.7vw;
    background-color: #472D1C;
    border-radius: 10px;
    margin-top: 30px;
    position: relative;
    transition: 0.3s;
  }
  .divmain1 #divtur #tour3 p {
    color: white;
    position: absolute;
    bottom: 60px;
    right: 25px;
    font-family: "Inter", sans-serif;
    font-weight: 500;
    font-size: 13px;
  }
  .divmain1 #divtur #tour3 input {
    position: absolute;
    bottom: 15px;
    right: 15px;
    background-color: #b96a2d;
    border-radius: 10px;
    height: 50px;
    width: 100px;
    font-size: 25px;
    color: white;
    font-family: "Inter", sans-serif;
    font-weight: 500;
    display: inline-block;
    transition: 0.3s;
  }
  .divmain1 #divtur #tour3 input:hover {
    scale: 1.1;
  }
  .divmain1 #divtur #tour3:hover {
    scale: 1.02;
  }
  .divmain1 #divtur #tour3 #tphoto1 {
    background-color: #ccc;
    height: 120px;
    width: 30vw;
    border-radius: 10px;
    position: absolute;
    top: 15px;
    left: 20px;
    background-image: url(./../../images/mowameta.jpg);
    background-size: cover;
    transition: 0.3s;
  }
  .divmain1 #divtur #tour3 #tphoto1:hover {
    scale: 1.1;
  }
  .divmain1 #divtur #tour3 #tphoto1 h1 {
    font-size: 13px;
    color: #fcfcfc;
    position: absolute;
    bottom: 10px;
    left: 10px;
    display: flex;
  }
  .divmain1 #divtur #tour4 {
    flex-wrap: wrap;
    height: 250px;
    width: 41.7vw;
    background-color: #472D1C;
    border-radius: 10px;
    margin-top: 30px;
    position: relative;
    transition: 0.3s;
  }
  .divmain1 #divtur #tour4 p {
    color: white;
    position: absolute;
    bottom: 60px;
    right: 25px;
    font-family: "Inter", sans-serif;
    font-weight: 500;
    font-size: 13px;
  }
  .divmain1 #divtur #tour4 input {
    position: absolute;
    bottom: 15px;
    right: 15px;
    background-color: #b96a2d;
    border-radius: 10px;
    height: 50px;
    width: 100px;
    font-size: 25px;
    color: white;
    font-family: "Inter", sans-serif;
    font-weight: 500;
    display: inline-block;
    transition: 0.3s;
  }
  .divmain1 #divtur #tour4 input:hover {
    scale: 1.1;
  }
  .divmain1 #divtur #tour4:hover {
    scale: 1.02;
  }
  .divmain1 #divtur #tour4 #tphoto1 {
    background-color: #ccc;
    height: 120px;
    width: 30vw;
    border-radius: 10px;
    position: absolute;
    top: 15px;
    left: 20px;
    background-image: url(./../../images/martvili.jpg);
    background-size: cover;
    transition: 0.3s;
  }
  .divmain1 #divtur #tour4 #tphoto1:hover {
    scale: 1.1;
  }
  .divmain1 #divtur #tour4 #tphoto1 h1 {
    font-size: 13px;
    color: #fcfcfc;
    position: absolute;
    bottom: 10px;
    left: 10px;
    display: flex;
  }
  .divmain1 #divtur #tour5 {
    flex-wrap: wrap;
    height: 250px;
    width: 41.7vw;
    background-color: #472D1C;
    border-radius: 10px;
    margin-top: 30px;
    position: relative;
    transition: 0.3s;
  }
  .divmain1 #divtur #tour5 p {
    color: white;
    position: absolute;
    bottom: 60px;
    right: 25px;
    font-family: "Inter", sans-serif;
    font-weight: 500;
    font-size: 13px;
  }
  .divmain1 #divtur #tour5 input {
    position: absolute;
    bottom: 15px;
    right: 15px;
    background-color: #b96a2d;
    border-radius: 10px;
    height: 50px;
    width: 100px;
    font-size: 25px;
    color: white;
    font-family: "Inter", sans-serif;
    font-weight: 500;
    display: inline-block;
    transition: 0.3s;
  }
  .divmain1 #divtur #tour5 input:hover {
    scale: 1.1;
  }
  .divmain1 #divtur #tour5:hover {
    scale: 1.02;
  }
  .divmain1 #divtur #tour5 #tphoto1 {
    background-color: #ccc;
    height: 120px;
    width: 30vw;
    border-radius: 10px;
    position: absolute;
    top: 15px;
    left: 20px;
    background-image: url(./../../images/vardzia.jpg);
    background-size: cover;
    transition: 0.3s;
  }
  .divmain1 #divtur #tour5 #tphoto1:hover {
    scale: 1.1;
  }
  .divmain1 #divtur #tour5 #tphoto1 h1 {
    font-size: 13px;
    color: #fcfcfc;
    position: absolute;
    bottom: 10px;
    left: 10px;
    display: flex;
  }
  .divmain1 #divtur #tour6 {
    flex-wrap: wrap;
    height: 250px;
    width: 41.7vw;
    background-color: #472D1C;
    border-radius: 10px;
    margin-top: 30px;
    position: relative;
    transition: 0.3s;
  }
  .divmain1 #divtur #tour6 p {
    color: white;
    position: absolute;
    bottom: 60px;
    right: 25px;
    font-family: "Inter", sans-serif;
    font-weight: 500;
    font-size: 13px;
  }
  .divmain1 #divtur #tour6 input {
    position: absolute;
    bottom: 15px;
    right: 15px;
    background-color: #b96a2d;
    border-radius: 10px;
    height: 50px;
    width: 100px;
    font-size: 25px;
    color: white;
    font-family: "Inter", sans-serif;
    font-weight: 500;
    display: inline-block;
    transition: 0.3s;
  }
  .divmain1 #divtur #tour6 input:hover {
    scale: 1.1;
  }
  .divmain1 #divtur #tour6:hover {
    scale: 1.02;
  }
  .divmain1 #divtur #tour6 #tphoto1 {
    background-color: #ccc;
    height: 120px;
    width: 30vw;
    border-radius: 10px;
    position: absolute;
    top: 15px;
    left: 20px;
    background-image: url(./../../images/jvrismonasteri2.png);
    background-size: cover;
    transition: 0.3s;
  }
  .divmain1 #divtur #tour6 #tphoto1:hover {
    scale: 1.1;
  }
  .divmain1 #divtur #tour6 #tphoto1 h1 {
    display: flex;
    font-size: 13px;
    color: #fcfcfc;
    position: absolute;
    bottom: 10px;
    left: 10px;
  }
  footer {
    width: 100%;
    height: 170px;
    background-color: #6a4329;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
  }
  footer #partner {
    transform: translate(0, 20px);
    margin-left: 20px;
    font-size: 25px;
  }
  footer #tbcf {
    display: flex;
  }
  footer #tbcf #icon2 {
    display: flex;
    transform: translate(400px);
    font-size: 36px;
  }
  footer #tbcf img {
    display: flex;
    margin-top: 20px;
    margin-left: 40px;
    height: 60px;
  }
  footer #tbcf img:hover {
    transition: 0.3s;
    transform: scale(1.2);
  }
  footer #copyright {
    display: flex;
    font-size: 15px;
    margin-top: 15px;
    margin-right: 15px;
  }
  #icon {
    transform: scaleX(-1);
    font-size: 50px;
    margin: auto;
    margin-top: auto;
  }
  header #hdiv2 {
    display: none;
  }
  header h1 {
    display: none;
  }
  #login1 {
    display: none;
  }
  #bar {
    display: flex;
    font-size: 35px;
    margin-top: 25px;
    margin-right: 15px;
    position: absolute;
    right: 20px;
  }
  .br {
    display: none;
  }
}
@media screen and (min-device-width: 768px) and (max-device-width: 1100px) {
  @import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lora:ital,wght@0,400..700;1,400..700&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap");
  header {
    width: 100%;
    height: 96px;
    background-color: #b96a2d;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
  }
  header #abc {
    transform: translate(-60px, -30px);
  }
  header #tbc {
    height: 70px;
    width: 70px;
    margin-top: 15px;
    margin-top: 43px;
    margin-left: 70px;
  }
  header #tbc:hover {
    transition: 0.3s;
    transform: scale(1.2);
  }
  header #hdiv1 {
    display: flex;
    width: 100px;
  }
  header #icon {
    height: 70px;
    margin-top: 25px;
    margin-left: 25px;
  }
  header h1 {
    margin-top: 15px;
    margin-left: 15px;
  }
  header #hdiv2 {
    display: flex;
    justify-content: center;
  }
  header .nav1 {
    display: flex;
    transition: 0.3s;
    margin-left: 70px;
    text-decoration: none;
    color: #472D1C;
    margin-top: 30px;
    font-weight: 400;
    font-size: 18px;
  }
  header .nav1:hover {
    transform: scale(1.2);
  }
  header #login {
    margin-top: 30px;
    margin-right: 25px;
    transition: 0.3s;
  }
  header #login:hover {
    transform: scale(1.2);
  }
  header #login #login1 {
    color: rgb(34, 34, 34) !important;
  }
  header #contact {
    margin-right: 50px;
  }
  .divmain1 {
    display: flex;
    gap: 40px;
    margin-right: 40px;
  }
  .divmain1 .search {
    box-sizing: border-box;
    height: 420px;
    margin-top: 100px;
    margin-left: 50px;
    width: 400px;
    padding: 20px;
    background: #fff;
    border-radius: 12px;
    box-shadow: 10 5 10px rgba(0, 0, 0, 0.05);
    display: flex;
    flex-direction: column;
    gap: 16px;
  }
  .divmain1 .search .search-input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 10px;
    font-size: 14px;
    width: 100%;
  }
  .divmain1 .search .input {
    display: flex;
    flex-direction: column;
    gap: 4px;
  }
  .divmain1 .search .input span {
    font-size: 13px;
    color: #555;
  }
  .divmain1 .search .input input,
  .divmain1 .search .input select {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 10px;
    font-size: 14px;
  }
  .divmain1 .search .cost .chawera {
    display: flex;
    gap: 10px;
  }
  .divmain1 .search .cost .chawera input {
    flex: 1;
    text-align: center;
    width: 20px;
  }
  .divmain1 .search #search {
    padding: 12px;
    background-color: #6a4329;
    color: white;
    border-radius: 10px;
    font-weight: bold;
    font-size: 15px;
    transition: 0.2s;
  }
  .divmain1 .search #search:hover {
    background-color: #8b4312;
  }
  .divmain1 .search #clear {
    text-align: center;
    font-size: 13px;
    color: #888;
  }
  .divmain1 .search #clear:hover {
    text-decoration: underline;
  }
  .divmain1 #divtur {
    flex-direction: column;
    margin-top: 70px;
    display: flex;
    margin-right: 40px;
    margin-left: 100px;
  }
  .divmain1 #divtur #tour1 {
    display: flex;
    height: 250px;
    width: 41.7vw;
    background-color: #472D1C;
    border-radius: 10px;
    margin-top: 30px;
    position: relative;
    transition: 0.3s;
  }
  .divmain1 #divtur #tour1 p {
    color: white;
    position: absolute;
    bottom: 60px;
    right: 65px;
    font-family: "Inter", sans-serif;
    font-weight: 500;
    font-size: 13px;
  }
  .divmain1 #divtur #tour1 input {
    position: absolute;
    bottom: 15px;
    right: 15px;
    background-color: #b96a2d;
    border-radius: 10px;
    height: 50px;
    width: 100px;
    font-size: 25px;
    color: white;
    font-family: "Inter", sans-serif;
    font-weight: 500;
    display: inline-block;
    transition: 0.3s;
  }
  .divmain1 #divtur #tour1 input:hover {
    scale: 1.1;
  }
  .divmain1 #divtur #tour1:hover {
    scale: 1.02;
  }
  .divmain1 #divtur #tour1 #tphoto1 {
    background-color: #ccc;
    height: 220px;
    width: 15.7vw;
    border-radius: 10px;
    position: absolute;
    bottom: 15px;
    left: 20px;
    background-image: url(./../../images/riwa.png);
    background-size: cover;
    transition: 0.3s;
  }
  .divmain1 #divtur #tour1 #tphoto1:hover {
    scale: 1.1;
  }
  .divmain1 #divtur #tour1 #tphoto1 h1 {
    font-size: 15px;
    color: #fcfcfc;
    position: absolute;
    bottom: 10px;
    left: 10px;
    display: flex;
  }
  .divmain1 #divtur #tour2 {
    display: flex;
    height: 250px;
    width: 41.7vw;
    background-color: #472D1C;
    border-radius: 10px;
    margin-top: 30px;
    position: relative;
    transition: 0.3s;
  }
  .divmain1 #divtur #tour2 p {
    color: white;
    position: absolute;
    bottom: 60px;
    right: 65px;
    font-family: "Inter", sans-serif;
    font-weight: 500;
    font-size: 13px;
  }
  .divmain1 #divtur #tour2 input {
    position: absolute;
    bottom: 15px;
    right: 15px;
    background-color: #b96a2d;
    border-radius: 10px;
    height: 50px;
    width: 100px;
    font-size: 25px;
    color: white;
    font-family: "Inter", sans-serif;
    font-weight: 500;
    display: inline-block;
    transition: 0.3s;
  }
  .divmain1 #divtur #tour2 input:hover {
    scale: 1.1;
  }
  .divmain1 #divtur #tour2:hover {
    scale: 1.02;
  }
  .divmain1 #divtur #tour2 #tphoto1 {
    background-color: #ccc;
    height: 220px;
    width: 15.7vw;
    border-radius: 10px;
    position: absolute;
    bottom: 15px;
    left: 20px;
    background-image: url(./../../images/gareji2.png);
    background-size: cover;
    transition: 0.3s;
  }
  .divmain1 #divtur #tour2 #tphoto1:hover {
    scale: 1.1;
  }
  .divmain1 #divtur #tour2 #tphoto1 h1 {
    font-size: 15px;
    color: #fcfcfc;
    position: absolute;
    bottom: 10px;
    left: 10px;
    display: flex;
  }
  .divmain1 #divtur #tour3 {
    height: 250px;
    width: 41.7vw;
    background-color: #472D1C;
    border-radius: 10px;
    margin-top: 30px;
    position: relative;
    transition: 0.3s;
  }
  .divmain1 #divtur #tour3 p {
    color: white;
    position: absolute;
    bottom: 60px;
    right: 65px;
    font-family: "Inter", sans-serif;
    font-weight: 500;
    font-size: 13px;
  }
  .divmain1 #divtur #tour3 input {
    position: absolute;
    bottom: 15px;
    right: 15px;
    background-color: #b96a2d;
    border-radius: 10px;
    height: 50px;
    width: 100px;
    font-size: 25px;
    color: white;
    font-family: "Inter", sans-serif;
    font-weight: 500;
    display: inline-block;
    transition: 0.3s;
  }
  .divmain1 #divtur #tour3 input:hover {
    scale: 1.1;
  }
  .divmain1 #divtur #tour3:hover {
    scale: 1.02;
  }
  .divmain1 #divtur #tour3 #tphoto1 {
    background-color: #ccc;
    height: 220px;
    width: 15.7vw;
    border-radius: 10px;
    position: absolute;
    bottom: 15px;
    left: 20px;
    background-image: url(./../../images/mowameta.jpg);
    background-size: cover;
    transition: 0.3s;
  }
  .divmain1 #divtur #tour3 #tphoto1:hover {
    scale: 1.1;
  }
  .divmain1 #divtur #tour3 #tphoto1 h1 {
    font-size: 15px;
    color: #fcfcfc;
    position: absolute;
    bottom: 10px;
    left: 10px;
    display: flex;
  }
  .divmain1 #divtur #tour4 {
    height: 250px;
    width: 41.7vw;
    background-color: #472D1C;
    border-radius: 10px;
    margin-top: 30px;
    position: relative;
    transition: 0.3s;
  }
  .divmain1 #divtur #tour4 p {
    color: white;
    position: absolute;
    bottom: 60px;
    right: 65px;
    font-family: "Inter", sans-serif;
    font-weight: 500;
    font-size: 13px;
  }
  .divmain1 #divtur #tour4 input {
    position: absolute;
    bottom: 15px;
    right: 15px;
    background-color: #b96a2d;
    border-radius: 10px;
    height: 50px;
    width: 100px;
    font-size: 25px;
    color: white;
    font-family: "Inter", sans-serif;
    font-weight: 500;
    display: inline-block;
    transition: 0.3s;
  }
  .divmain1 #divtur #tour4 input:hover {
    scale: 1.1;
  }
  .divmain1 #divtur #tour4:hover {
    scale: 1.02;
  }
  .divmain1 #divtur #tour4 #tphoto1 {
    background-color: #ccc;
    height: 220px;
    width: 15.7vw;
    border-radius: 10px;
    position: absolute;
    bottom: 15px;
    left: 20px;
    background-image: url(./../../images/martvili.jpg);
    background-size: cover;
    transition: 0.3s;
  }
  .divmain1 #divtur #tour4 #tphoto1:hover {
    scale: 1.1;
  }
  .divmain1 #divtur #tour4 #tphoto1 h1 {
    font-size: 15px;
    color: #fcfcfc;
    position: absolute;
    bottom: 10px;
    left: 10px;
    display: flex;
  }
  .divmain1 #divtur #tour5 {
    height: 250px;
    width: 41.7vw;
    background-color: #472D1C;
    border-radius: 10px;
    margin-top: 30px;
    position: relative;
    transition: 0.3s;
  }
  .divmain1 #divtur #tour5 p {
    color: white;
    position: absolute;
    bottom: 60px;
    right: 65px;
    font-family: "Inter", sans-serif;
    font-weight: 500;
    font-size: 13px;
  }
  .divmain1 #divtur #tour5 input {
    position: absolute;
    bottom: 15px;
    right: 15px;
    background-color: #b96a2d;
    border-radius: 10px;
    height: 50px;
    width: 100px;
    font-size: 25px;
    color: white;
    font-family: "Inter", sans-serif;
    font-weight: 500;
    display: inline-block;
    transition: 0.3s;
  }
  .divmain1 #divtur #tour5 input:hover {
    scale: 1.1;
  }
  .divmain1 #divtur #tour5:hover {
    scale: 1.02;
  }
  .divmain1 #divtur #tour5 #tphoto1 {
    background-color: #ccc;
    height: 220px;
    width: 15.7vw;
    border-radius: 10px;
    position: absolute;
    bottom: 15px;
    left: 20px;
    background-image: url(./../../images/vardzia.jpg);
    background-size: cover;
    transition: 0.3s;
  }
  .divmain1 #divtur #tour5 #tphoto1:hover {
    scale: 1.1;
  }
  .divmain1 #divtur #tour5 #tphoto1 h1 {
    font-size: 15px;
    color: #fcfcfc;
    position: absolute;
    bottom: 10px;
    left: 10px;
    display: flex;
  }
  .divmain1 #divtur #tour6 {
    height: 250px;
    width: 41.7vw;
    background-color: #472D1C;
    border-radius: 10px;
    margin-top: 30px;
    position: relative;
    transition: 0.3s;
  }
  .divmain1 #divtur #tour6 p {
    color: white;
    position: absolute;
    bottom: 60px;
    right: 65px;
    font-family: "Inter", sans-serif;
    font-weight: 500;
    font-size: 13px;
  }
  .divmain1 #divtur #tour6 input {
    position: absolute;
    bottom: 15px;
    right: 15px;
    background-color: #b96a2d;
    border-radius: 10px;
    height: 50px;
    width: 100px;
    font-size: 25px;
    color: white;
    font-family: "Inter", sans-serif;
    font-weight: 500;
    display: inline-block;
    transition: 0.3s;
  }
  .divmain1 #divtur #tour6 input:hover {
    scale: 1.1;
  }
  .divmain1 #divtur #tour6:hover {
    scale: 1.02;
  }
  .divmain1 #divtur #tour6 #tphoto1 {
    background-color: #ccc;
    height: 220px;
    width: 15.7vw;
    border-radius: 10px;
    position: absolute;
    bottom: 15px;
    left: 20px;
    background-image: url(./../../images/jvrismonasteri2.png);
    background-size: cover;
    transition: 0.3s;
  }
  .divmain1 #divtur #tour6 #tphoto1:hover {
    scale: 1.1;
  }
  .divmain1 #divtur #tour6 #tphoto1 h1 {
    display: flex;
    font-size: 15px;
    color: #fcfcfc;
    position: absolute;
    bottom: 10px;
    left: 10px;
  }
  footer {
    width: 100%;
    height: 150px;
    background-color: #6a4329;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
  }
  footer #partner {
    transform: translate(0, 20px);
    margin-left: 20px;
    font-size: 30px;
  }
  footer #tbcf {
    display: flex;
  }
  footer #tbcf #icon2 {
    display: flex;
    transform: translate(400px);
    font-size: 36px;
  }
  footer #tbcf img {
    display: flex;
    margin-top: 20px;
    margin-left: 40px;
    height: 60px;
  }
  footer #tbcf img:hover {
    transition: 0.3s;
    transform: scale(1.2);
  }
  footer #copyright {
    display: flex;
    font-size: 15px;
    margin-top: 15px;
    margin-right: 15px;
  }
  #comment {
    display: flex;
    position: fixed;
    bottom: 30px;
    right: 30px;
    width: 70px;
    height: 70px;
    background-color: #b96a2d;
    box-sizing: border-box;
    border-radius: 30px;
    transition-duration: 0.3s;
    z-index: 3;
  }
  #comment:hover {
    scale: 1.2;
  }
  #comment #icon {
    transform: scaleX(-1);
    font-size: 50px;
    margin: auto;
    margin-top: auto;
  }
  #bar {
    display: none;
  }
}
@media screen and (min-device-width: 1101px) {
  @import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lora:ital,wght@0,400..700;1,400..700&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap");
  #bar {
    display: none;
  }
  header {
    width: 100%;
    height: 96px;
    background-color: #b96a2d;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
  }
  header #abc {
    transform: translate(-60px, -30px);
  }
  header #tbc {
    height: 70px;
    width: 70px;
    margin-top: 15px;
    margin-top: 43px;
    margin-left: 70px;
  }
  header #tbc:hover {
    transition: 0.3s;
    transform: scale(1.2);
  }
  header #hdiv1 {
    display: flex;
  }
  header #icon {
    height: 70px;
    margin-top: 25px;
    margin-left: 25px;
  }
  header h1 {
    margin-top: 15px;
    margin-left: 15px;
  }
  header #hdiv2 {
    display: flex;
    justify-content: center;
  }
  header .nav1 {
    display: flex;
    transition: 0.3s;
    margin-left: 70px;
    text-decoration: none;
    color: #472D1C;
    margin-top: 30px;
    font-weight: 400;
    font-size: 18px;
  }
  header .nav1:hover {
    transform: scale(1.2);
  }
  header #login {
    margin-top: 30px;
    margin-right: 25px;
    transition: 0.3s;
  }
  header #login:hover {
    transform: scale(1.2);
  }
  header #login #login1 {
    color: rgb(34, 34, 34) !important;
  }
  header #contact {
    margin-right: 200px;
  }
  .divmain1 {
    display: flex;
    gap: 40px;
    margin-right: 40px;
  }
  .divmain1 .search {
    box-sizing: border-box;
    height: 420px;
    margin-top: 100px;
    margin-left: 50px;
    width: 400px;
    padding: 20px;
    background: #fff;
    border-radius: 12px;
    box-shadow: 10 5 10px rgba(0, 0, 0, 0.05);
    display: flex;
    flex-direction: column;
    gap: 16px;
  }
  .divmain1 .search .search-input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 10px;
    font-size: 14px;
    width: 100%;
  }
  .divmain1 .search .input {
    display: flex;
    flex-direction: column;
    gap: 4px;
  }
  .divmain1 .search .input span {
    font-size: 13px;
    color: #555;
  }
  .divmain1 .search .input input,
  .divmain1 .search .input select {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 10px;
    font-size: 14px;
  }
  .divmain1 .search .cost .chawera {
    display: flex;
    gap: 10px;
  }
  .divmain1 .search .cost .chawera input {
    flex: 1;
    text-align: center;
    width: 20px;
  }
  .divmain1 .search #search {
    padding: 12px;
    background-color: #6a4329;
    color: white;
    border-radius: 10px;
    font-weight: bold;
    font-size: 15px;
    transition: 0.2s;
  }
  .divmain1 .search #search:hover {
    background-color: #8b4312;
  }
  .divmain1 .search #clear {
    text-align: center;
    font-size: 13px;
    color: #888;
  }
  .divmain1 .search #clear:hover {
    text-decoration: underline;
  }
  .divmain1 #divtur {
    flex-direction: column;
    margin-top: 70px;
    display: flex;
    margin-right: 40px;
    margin-left: 100px;
  }
  .divmain1 #divtur #tour1 {
    display: flex;
    height: 250px;
    width: 41.7vw;
    background-color: #472D1C;
    border-radius: 10px;
    margin-top: 30px;
    position: relative;
    transition: 0.3s;
  }
  .divmain1 #divtur #tour1 p {
    color: white;
    position: absolute;
    bottom: 2px;
    right: 125px;
    font-family: "Inter", sans-serif;
    font-weight: 500;
  }
  .divmain1 #divtur #tour1 input {
    position: absolute;
    bottom: 15px;
    right: 15px;
    background-color: #b96a2d;
    border-radius: 10px;
    height: 50px;
    width: 100px;
    font-size: 25px;
    color: white;
    font-family: "Inter", sans-serif;
    font-weight: 500;
    display: inline-block;
    transition: 0.3s;
  }
  .divmain1 #divtur #tour1 input:hover {
    scale: 1.1;
  }
  .divmain1 #divtur #tour1:hover {
    scale: 1.02;
  }
  .divmain1 #divtur #tour1 #tphoto1 {
    background-color: #ccc;
    height: 220px;
    width: 15.7vw;
    border-radius: 10px;
    position: absolute;
    bottom: 15px;
    left: 20px;
    background-image: url(./../../images/riwa.png);
    background-size: cover;
    transition: 0.3s;
  }
  .divmain1 #divtur #tour1 #tphoto1:hover {
    scale: 1.1;
  }
  .divmain1 #divtur #tour1 #tphoto1 h1 {
    font-size: 20px;
    color: #fcfcfc;
    position: absolute;
    bottom: 10px;
    left: 10px;
    display: flex;
  }
  .divmain1 #divtur #tour2 {
    display: flex;
    height: 250px;
    width: 41.7vw;
    background-color: #472D1C;
    border-radius: 10px;
    margin-top: 30px;
    position: relative;
    transition: 0.3s;
  }
  .divmain1 #divtur #tour2 p {
    color: white;
    position: absolute;
    bottom: 2px;
    right: 125px;
    font-family: "Inter", sans-serif;
    font-weight: 500;
  }
  .divmain1 #divtur #tour2 input {
    position: absolute;
    bottom: 15px;
    right: 15px;
    background-color: #b96a2d;
    border-radius: 10px;
    height: 50px;
    width: 100px;
    font-size: 25px;
    color: white;
    font-family: "Inter", sans-serif;
    font-weight: 500;
    display: inline-block;
    transition: 0.3s;
  }
  .divmain1 #divtur #tour2 input:hover {
    scale: 1.1;
  }
  .divmain1 #divtur #tour2:hover {
    scale: 1.02;
  }
  .divmain1 #divtur #tour2 #tphoto1 {
    background-color: #ccc;
    height: 220px;
    width: 15.7vw;
    border-radius: 10px;
    position: absolute;
    bottom: 15px;
    left: 20px;
    background-image: url(./../../images/gareji2.png);
    background-size: cover;
    transition: 0.3s;
  }
  .divmain1 #divtur #tour2 #tphoto1:hover {
    scale: 1.1;
  }
  .divmain1 #divtur #tour2 #tphoto1 h1 {
    font-size: 20px;
    color: #fcfcfc;
    position: absolute;
    bottom: 10px;
    left: 10px;
    display: flex;
  }
  .divmain1 #divtur #tour3 {
    height: 250px;
    width: 41.7vw;
    background-color: #472D1C;
    border-radius: 10px;
    margin-top: 30px;
    position: relative;
    transition: 0.3s;
  }
  .divmain1 #divtur #tour3 p {
    color: white;
    position: absolute;
    bottom: 2px;
    right: 125px;
    font-family: "Inter", sans-serif;
    font-weight: 500;
  }
  .divmain1 #divtur #tour3 input {
    position: absolute;
    bottom: 15px;
    right: 15px;
    background-color: #b96a2d;
    border-radius: 10px;
    height: 50px;
    width: 100px;
    font-size: 25px;
    color: white;
    font-family: "Inter", sans-serif;
    font-weight: 500;
    display: inline-block;
    transition: 0.3s;
  }
  .divmain1 #divtur #tour3 input:hover {
    scale: 1.1;
  }
  .divmain1 #divtur #tour3:hover {
    scale: 1.02;
  }
  .divmain1 #divtur #tour3 #tphoto1 {
    background-color: #ccc;
    height: 220px;
    width: 15.7vw;
    border-radius: 10px;
    position: absolute;
    bottom: 15px;
    left: 20px;
    background-image: url(./../../images/mowameta.jpg);
    background-size: cover;
    transition: 0.3s;
  }
  .divmain1 #divtur #tour3 #tphoto1:hover {
    scale: 1.1;
  }
  .divmain1 #divtur #tour3 #tphoto1 h1 {
    font-size: 25px;
    color: #fcfcfc;
    position: absolute;
    bottom: 10px;
    left: 10px;
    display: flex;
  }
  .divmain1 #divtur #tour4 {
    height: 250px;
    width: 41.7vw;
    background-color: #472D1C;
    border-radius: 10px;
    margin-top: 30px;
    position: relative;
    transition: 0.3s;
  }
  .divmain1 #divtur #tour4 p {
    color: white;
    position: absolute;
    bottom: 2px;
    right: 125px;
    font-family: "Inter", sans-serif;
    font-weight: 500;
  }
  .divmain1 #divtur #tour4 input {
    position: absolute;
    bottom: 15px;
    right: 15px;
    background-color: #b96a2d;
    border-radius: 10px;
    height: 50px;
    width: 100px;
    font-size: 25px;
    color: white;
    font-family: "Inter", sans-serif;
    font-weight: 500;
    display: inline-block;
    transition: 0.3s;
  }
  .divmain1 #divtur #tour4 input:hover {
    scale: 1.1;
  }
  .divmain1 #divtur #tour4:hover {
    scale: 1.02;
  }
  .divmain1 #divtur #tour4 #tphoto1 {
    background-color: #ccc;
    height: 220px;
    width: 15.7vw;
    border-radius: 10px;
    position: absolute;
    bottom: 15px;
    left: 20px;
    background-image: url(./../../images/martvili.jpg);
    background-size: cover;
    transition: 0.3s;
  }
  .divmain1 #divtur #tour4 #tphoto1:hover {
    scale: 1.1;
  }
  .divmain1 #divtur #tour4 #tphoto1 h1 {
    font-size: 25px;
    color: #fcfcfc;
    position: absolute;
    bottom: 10px;
    left: 10px;
    display: flex;
  }
  .divmain1 #divtur #tour5 {
    height: 250px;
    width: 41.7vw;
    background-color: #472D1C;
    border-radius: 10px;
    margin-top: 30px;
    position: relative;
    transition: 0.3s;
  }
  .divmain1 #divtur #tour5 p {
    color: white;
    position: absolute;
    bottom: 2px;
    right: 125px;
    font-family: "Inter", sans-serif;
    font-weight: 500;
  }
  .divmain1 #divtur #tour5 input {
    position: absolute;
    bottom: 15px;
    right: 15px;
    background-color: #b96a2d;
    border-radius: 10px;
    height: 50px;
    width: 100px;
    font-size: 25px;
    color: white;
    font-family: "Inter", sans-serif;
    font-weight: 500;
    display: inline-block;
    transition: 0.3s;
  }
  .divmain1 #divtur #tour5 input:hover {
    scale: 1.1;
  }
  .divmain1 #divtur #tour5:hover {
    scale: 1.02;
  }
  .divmain1 #divtur #tour5 #tphoto1 {
    background-color: #ccc;
    height: 220px;
    width: 15.7vw;
    border-radius: 10px;
    position: absolute;
    bottom: 15px;
    left: 20px;
    background-image: url(./../../images/vardzia.jpg);
    background-size: cover;
    transition: 0.3s;
  }
  .divmain1 #divtur #tour5 #tphoto1:hover {
    scale: 1.1;
  }
  .divmain1 #divtur #tour5 #tphoto1 h1 {
    font-size: 25px;
    color: #fcfcfc;
    position: absolute;
    bottom: 10px;
    left: 10px;
    display: flex;
  }
  .divmain1 #divtur #tour6 {
    height: 250px;
    width: 41.7vw;
    background-color: #472D1C;
    border-radius: 10px;
    margin-top: 30px;
    position: relative;
    transition: 0.3s;
  }
  .divmain1 #divtur #tour6 p {
    color: white;
    position: absolute;
    bottom: 2px;
    right: 125px;
    font-family: "Inter", sans-serif;
    font-weight: 500;
  }
  .divmain1 #divtur #tour6 input {
    position: absolute;
    bottom: 15px;
    right: 15px;
    background-color: #b96a2d;
    border-radius: 10px;
    height: 50px;
    width: 100px;
    font-size: 25px;
    color: white;
    font-family: "Inter", sans-serif;
    font-weight: 500;
    display: inline-block;
    transition: 0.3s;
  }
  .divmain1 #divtur #tour6 input:hover {
    scale: 1.1;
  }
  .divmain1 #divtur #tour6:hover {
    scale: 1.02;
  }
  .divmain1 #divtur #tour6 #tphoto1 {
    background-color: #ccc;
    height: 220px;
    width: 15.7vw;
    border-radius: 10px;
    position: absolute;
    bottom: 15px;
    left: 20px;
    background-image: url(./../../images/jvrismonasteri2.png);
    background-size: cover;
    transition: 0.3s;
  }
  .divmain1 #divtur #tour6 #tphoto1:hover {
    scale: 1.1;
  }
  .divmain1 #divtur #tour6 #tphoto1 h1 {
    display: flex;
    font-size: 25px;
    color: #fcfcfc;
    position: absolute;
    bottom: 10px;
    left: 10px;
  }
  footer {
    width: 100%;
    height: 150px;
    background-color: #6a4329;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
  }
  footer #partner {
    transform: translate(0, 20px);
    margin-left: 20px;
    font-size: 30px;
  }
  footer #tbcf {
    display: flex;
  }
  footer #tbcf #icon2 {
    display: flex;
    transform: translate(400px);
    font-size: 36px;
  }
  footer #tbcf img {
    display: flex;
    margin-top: 20px;
    margin-left: 40px;
    height: 60px;
  }
  footer #tbcf img:hover {
    transition: 0.3s;
    transform: scale(1.2);
  }
  footer #copyright {
    display: flex;
    font-size: 15px;
    margin-top: 15px;
    margin-right: 15px;
  }
  #comment {
    display: flex;
    position: fixed;
    bottom: 30px;
    right: 30px;
    width: 70px;
    height: 70px;
    background-color: #b96a2d;
    box-sizing: border-box;
    border-radius: 30px;
    transition-duration: 0.3s;
    z-index: 3;
  }
  #comment:hover {
    scale: 1.2;
  }
  #comment #icon {
    transform: scaleX(-1);
    font-size: 50px;
    margin: auto;
    margin-top: auto;
  }
}/*# sourceMappingURL=styles.css.map */